# Runs e2e tests using the testsuite framework

name: e2e

on:
  workflow_dispatch: # disable action temporarily
  pull_request:
  merge_group:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  SEED: rustethereumethereumrust

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: e2e-testsuite
    runs-on: ubuntu-latest
      # group: Reth
    env:
      RUST_BACKTRACE: 1
    timeout-minutes: 90
    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@nextest
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y liburing-dev pkg-config libclang-dev
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: Run e2e tests
        run: |
          cargo nextest run \
            --locked --features "asm-keccak" \
            --workspace \
            --exclude 'example-*' \
            --exclude 'exex-subscription' \
            --exclude 'reth-bench' \
            --exclude 'ef-tests' \
            --exclude 'op-reth' \
            --exclude 'reth' \
            -E 'binary(e2e_testsuite)'

